//Add transition for everything when changing background-color


//dark-mode class will be attached to body
.dark-mode{
  background-color:$background-dark;
  .settings-container{
    background-color:$background-dark-light;
  }
  #insertTextArea{
    background-color: $background-dark;
    color: $text-light;
  }
  .page-heading{
    color: $text-light;
  }

}
