html, body{
  height:100%;
}

body, *{
   font-family: 'Lato', sans-serif;
 }
html, body {
  background-color:#F5F7FA;
  color:$text;
}

#app, #page-wrapper {
  height:100%;
}

#page-wrapper{
  display:flex;
}
.container-fluid{
  flex: 1 0 auto;
}
.content-container{
  padding-bottom:50px;
}
