//COLORS

//override bootstrap collors
$primary:       #46af71;




@import "../../../node_modules/bootstrap/scss/bootstrap";

.form-control:focus{
  box-shadow:none;
}
body, body *{
  font-family: 'Lato', sans-serif;
}
$text-light: #d5d5d5;
$text-dark: #1e2329;

$background-dark: #1C2532;
$background-dark-light: lighten($background-dark,5%);


.btn-shadow{
  box-shadow: 0 14px 28px 0 rgba(13,31,61,.14);
}

nav li {
  position:relative;
}
nav li::after  {
  position:absolute;
  bottom:4px;
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: $primary;
  transition: width .3s;
}

nav .active::after {
  position:absolute;
  bottom:4px;
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: $primary;
  transition: width .3s;
}
//nav .active:hover::after {
//  width: 100%;
//  //transition: width .3s;
//}