
//import variables
@import "./variables";



//import bootstrap
@import "../../../node_modules/bootstrap/scss/bootstrap";

//import navbar
@import "./navbar";

//import cards
@import "./cards";

//import sweet modal overrides
@import "./sweetModal";

.form-control:focus{
  box-shadow:none;
}
body, *{
  font-family: 'Lato', sans-serif;
}
html, body {
  background-color:#F5F7FA;
  color:#32363d;
}

.btn-shadow{
  box-shadow: 0 14px 28px 0 rgba(13,31,61,.14);
}



.btn:not(:disabled):not(.disabled):active:focus{
  outline:none;
  box-shadow: none;
}
.btn:focus, .btn:active:focus{
  outline:none;
  box-shadow: none;
}
